.app {
  /* Basic settings */
  display: flex;
  gap: 5px;
  height: 100%;
  flex-direction: column;
  align-items: center;
  height: 97.8vh;
  /* cosmetics */
  border: 2px dashed #e0dbd1;
  /* font */
  color: #e0dbd1;
}
